* { box-sizing: border-box; }

body { 
  font-family: sans-serif; 
  background-color:white;
}
.CaExample{
  margin-right:auto;
  margin-left:auto;
}

.icon-cards{
  position: relative;
  margin: 40px 0;
  width: 210px;
  height: 140px;
  margin: 40px auto;
  perspective: 1000px;
}

.icon-cards__content{
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.icon-cards__item{
  position: absolute;
  width:fit-content;
  height: 120px;
  /* left: 10px; */
  top: 250px;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  /* opacity: 0.6; */
  text-align: center;
}

button{
  margin-right: auto;
  margin-left: auto;
}

#description{
  z-index: 1;
  width:200%;
  max-height: 500px;
  overflow:visible;
  background-color: black;
  color:white;
  font-size:10px;
  line-height: 20px;
}

.icon-cards__item:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.icon-cards__item:nth-child(2) { transform: rotateY( 120deg) translateZ(288px); }
.icon-cards__item:nth-child(3) { transform: rotateY( 240deg) translateZ(288px); }


