<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>


<body>
{{!-- bootstrap icons --}}
{{!-- <svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg> --}}
<div class="page1">

  <div id="profile" class="row"> 

        <div class="col-md-4">
          <div class="row">

            {{!-- <div id="text" class="description">
              <div id="animationTrial">
                Hello! I am an aspiring web developer.My goal is to contribute in building strong and reliable products.
                <br>I work and learn best by experimenting and love to dive into challenges. Through Seneca College, I gained familiarity with object-orientated programming concepts and experienced building web applications with React,Vue,and Angular. 
                Currently, I'm most focused on NodeJS and React.
              </div>
            </div>   --}}
          </div>

        </div>

      <div class="col" id="detailsRow">

        <div class="col-sm-8" id="skills">
          <p id="text">Javascript/HTML/CSS</p>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">working knowledge</div>
          </div>
          <br>

          <p id="text">MERN</p>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">working knowledge</div>
          </div>
          <br>

          <p id="text">Git</p>
              <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">working knowledge</div>
              </div>
            <br>

            <p id="text">Java</p>
              <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">working knowledge</div>
              </div>
            <br>

            <p id="text">C++</p>
              <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">some knowledge</div>
              </div>
            <br>

            <p id="text">Angular and Vue</p>
              <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">some knowledge</div>
              </div>
            <br>
            
        </div>

        <div class="row" id="links">
          <img src="book.png" width="5%"></img>
          <a href="https://github.com/sdj012"  data-toggle="tooltip" data-placement="top" title="to github"><b id="githubLink">Academic Projects  </b></a>
          
          <img src="flask.png" width="5%"></img>
          <a href="#page2"><b id="worksLabel">   Independent Projects</b></a>
        </div>

        </div>

    </div>

</div>

</div>

</div>

<div class="page2" id="page2">

<div class="row"> 

      <div class="col-6">
      <div class="carousel" id="file1Carousel" class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" >
            <img src="shspce1.png" class="d-block w-10" alt="..." height="206px" width="358px" >
        </div>
        <div class="carousel-item" >
          <img src="shspce3.png" class="d-block w-10" alt="..." height="206px" width="358px" >
        </div>
        <div class="carousel-item" >
          <img src="shspce4.png" class="d-block w-10" alt="..." height="206px" width="358px" >
        </div>
      </div>
    <a class="carousel-control-prev" href="#file1Carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#file1Carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
    </div>

        <div class="col">
        <p id="text" class="imgDesc"><b>Simple Video Clipping Application</b><a href="https://embedground.herokuapp.com"><b> demo</b></a></p>
        <p id="appDesc">name: ssuser12 password: ssuser12</p>
        <p id="appDesc">save and view currently active Youtube Videos</p> 
        <div id="toolLogos">
        <img src="nodeJSLogo.svg.png" width="10%">
        <img src="mongodb.png" width="10%">
        <img src="bootstrap-logo.png" width="7%">
        <a id="gitLogo text" href="https://github.com/sdj012/shakespace"><img src="sourceCodeIcon.png" width="10%"><b id="shakespaceLink">source code</b></a>
        </div>
      </div>
</div>

<div class="row">

      <div class="col-6">
      <div id="file2Carousel" class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" >
            <img src="travelGuide.png" class="d-block w-10" height="206px" width="358px" alt="...">
        </div>
        <div class="carousel-item">
          <img src="travelGuide2.png" class="d-block w-10" height="206px" width="358px"  alt="...">
        </div>
        <div class="carousel-item">
          <img src="travelGuide3.png" class="d-block w-10" height="206px" width="358px"  alt="...">
        </div>
      </div>
        <a class="carousel-control-prev" href="#file2Carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#file2Carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="col">  
      <div class="col">
        <p id="text" class="imgDesc"><b>US International Travel Advisory</b><a href="https://travel-advisory.herokuapp.com"><b> demo</b></a></p>      
        <p id="appDesc">View travel advisories from U.S Government's DATA.GOV</p>
        <p id="appDesc">View articles powered by NewsAPI</p>
         <div id="toolLogos">
            <img src="reactLogo.png" width="10%">
            <img src="bootstrap-logo.png" width="7%">
            <a id="gitLogo text" href="https://github.com/sdj012/travelAdvisory"><b id="shakespaceLink"><img src="sourceCodeIcon.png" width="10%">source code</b></a>
            <br>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col">

      <p>Android: Album - Quick Launch </p>      <p>Android: Album - Quick Launch </p>
      <p>Android: Album - Quick Launch </p>
      <p>Android: Album - Quick Launch </p>
      <p>Java, Spotify API</p>

    </div>

    <div>
      <div class="col">
      <p>Survey for book " " </p>
      <p>React</p>
      </div>
    </div>

    <div>
      <div class="col">
      <p>Survey for book " " </p>
      <p>React</p>
      </div>
    </div>

     <div>
       <div class="col">
      <p>Shipment Tracking Interface</p>
      <p>React</p>
      </div>
    </div>

    <div>
      <div class="col">
      <p>Interactive Discography</p>
      <p>React + Spotify API</p>
      </div>
    </div>

    </div>

     </div>
    <a href="#">top</a>
</div>

</body>
<script type="javascript" src="../index.js"></script>
<script type="javascript" src="../functions.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
